body{
	background-image: url("bg.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}
}
h1 {
    color: #7B1113;
}
img{
	text-align: center;
	border: 10px solid blue;
}
#about{
	margin: auto;
	width: 60%;
	background-color: #ABC8C7;
	border: 15px solid blue;
	padding: 25px;
}